{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha3"}
        com.phronemophobic/clong {:mvn/version "1.0"}
        com.phronemophobic/membrane { :mvn/version "0.13.1-beta"
                                     ;; :local/root "../membrane2"
                                     }

        org.clojure/math.combinatorics {:mvn/version "0.2.0"}

        com.phronemophobic.cljonda/libretro_fceumm-darwin-aarch64 {:mvn/version "f068818c4d68620c31eca0c02a5891ee3096b645"}
        com.phronemophobic.cljonda/libretro_fceumm-darwin-x86-64 {:mvn/version "f068818c4d68620c31eca0c02a5891ee3096b645"}
        com.phronemophobic.cljonda/libretro_fceumm-linux-x86-64 {:mvn/version "f068818c4d68620c31eca0c02a5891ee3096b645"}

        com.phronemophobic.cljonda/libretro_snes9x-darwin-aarch64 {:mvn/version "ba788307f326419100f2369ff54912bda20f9026"}
        com.phronemophobic.cljonda/libretro_snes9x-darwin-x86-64 {:mvn/version "ba788307f326419100f2369ff54912bda20f9026"}
        com.phronemophobic.cljonda/libretro_snes9x-linux-x86-64 {:mvn/version "ba788307f326419100f2369ff54912bda20f9026"}

        }
 :aliases
 {
  :project
  {
   ;; for ffmpeg
   :jvm-opts ["-Djava.library.path=/opt/local/lib"
              ;;"-Djna.library.path=../llvm-project/build/out/lib:/opt/local/lib"
              ]

   :extra-deps {com.phronemophobic/clj-media {:local/root "../clj-media"}
                org.bytedeco/llvm-platform {:mvn/version "16.0.4-1.5.9"}
                com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.13-beta"
                                                                    ;; :local/root "/Users/adrian/workspace/membrane2/csource/macos-aarch64"
                                                                    }}


   }}}
