{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.phronmophobic/clong {;;:git/tag "v0.9.3",
                                       :git/sha "a27a6ce5f086d0644d2054e59649d722fcb73603"
                                       ;;:local/root "../clong"
                                       }
        com.phronemophobic/membrane {:mvn/version "0.13.0-beta"
                                     ;; :local/root "../membrane2"
                                     }
        com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.13-beta"
                                                            ;; :local/root "/Users/adrian/workspace/membrane2/csource/macos-aarch64"
                                                            }
        }
 :aliases
 {
  :project
  {
   ;; snes
   ;; :jvm-opts ["-Djna.library.path=../llvm-project/build/out/lib:/opt/local/lib:/Users/adrian/workspace/libretro-super/libretro-snes9x/libretro"
   ;;            "-Djava.library.path=../llvm-project/build/out/lib:/opt/local/lib:/Users/adrian/workspace/libretro-super/libretro-snes9x/libretro"]

   ;; nes
   :jvm-opts ["-Djna.library.path=../llvm-project/build/out/lib:/opt/local/lib:/Users/adrian/workspace/libretro-super/libretro-fceumm"
              "-Djava.library.path=../llvm-project/build/out/lib:/opt/local/lib:/Users/adrian/workspace/libretro-super/libretro-fceumm"]

   }}}
