{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha3"}
        io.github.phronmophobic/clong {;;:git/tag "v0.9.3",
                                       :git/sha "a27a6ce5f086d0644d2054e59649d722fcb73603"
                                       ;;:local/root "../clong"
                                       }
        com.phronemophobic/membrane {:mvn/version "0.13.0-beta"
                                     ;; :local/root "../membrane2"
                                     }
        com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.13-beta"
                                                            ;; :local/root "/Users/adrian/workspace/membrane2/csource/macos-aarch64"
                                                            }

        org.clojure/math.combinatorics {:mvn/version "0.2.0"}

        com.phronemophobic.cljonda/libretro_fceumm-darwin-aarch64 {:mvn/version "f068818c4d68620c31eca0c02a5891ee3096b645"}
        com.phronemophobic.cljonda/libretro_fceumm-darwin-x86-64 {:mvn/version "f068818c4d68620c31eca0c02a5891ee3096b645"}
        com.phronemophobic.cljonda/libretro_fceumm-linux-x86-64 {:mvn/version "f068818c4d68620c31eca0c02a5891ee3096b645"}

        com.phronemophobic.cljonda/libretro_snes9x-darwin-aarch64 {:mvn/version "ba788307f326419100f2369ff54912bda20f9026"}
        com.phronemophobic.cljonda/libretro_snes9x-darwin-x86-64 {:mvn/version "ba788307f326419100f2369ff54912bda20f9026"}
        com.phronemophobic.cljonda/libretro_snes9x-linux-x86-64 {:mvn/version "ba788307f326419100f2369ff54912bda20f9026"}

        }
 :aliases
 {
  :project
  {
   :extra-deps {com.phronemophobic/clj-media {:local/root "../clj-media"}}


   }}}
